.container{
    width: 80px;
    margin: 0 auto;
}

.todolist{
    max-width: 500px;
    
}

.task-item{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}
.task-item button{
    margin-left: auto;
}