body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex; /* Используем flexbox для центрирования */
  justify-content: center; /* Выравниваем элементы по центру горизонтально */
  align-items: center; /* Выравниваем элементы по центру вертикально */
  height: 100vh; /* Занимаем 100% высоты видимой области браузера */
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#btn_del{
  width: 25px; /* задайте ширину и высоту кнопки по вашему выбору */
  height: 25px;
  background-image: url('/src/components/todo/img/cancel1.png');
  background-size: cover; 
  background-repeat: no-repeat; /* предотвращает повторение фонового изображения */
  border: none; /* убираем границу кнопки */
  background-color: transparent;
  cursor: pointer; 
  margin-right: 5px;
  margin-left: none;
  margin-top: 5px;
}
#btn_all{
  border: none; /* убираем границу кнопки */
  background-color: white;
  color: black;
}
#btn_tick{
  width: 25px; 
  height: 25px;
  background-image: url('/src/components/todo/img/tick.png');
  background-size: cover; 
  background-repeat: no-repeat; 
  border: none; 
  background-color: transparent;
  cursor: pointer; 
  margin-right: none;
  margin-left: 10px;
  margin-top: 5px;
}
/*.image-button {
  width: 25px; 
  height: 25px;
 
  background-size: cover; 
  background-repeat: no-repeat; 
  border: none; 
  background-color: transparent;
  cursor: pointer; 
  margin-right: none;
  margin-left: 10px;
  margin-top: 5px;
}

.image-button-1 {
  background-image: url('/src/components/todo/img/tick.png');
}

.image-button-2 {
  background-image: url('/src/components/todo/img/double-tick.png');
}*/
